node_modules
external_modules
tmp
build
!*.es6.js
docs/src/app/docs
docs/src/lib
examples/src/lib
polythene/font-iconic/material-design-iconic-font
polythene/font-roboto/fonts
polythene/svg/mdi
polythene/svg/material-design-iconic-font
polythene/deps
!polythene/deps/README
.sass-cache
.sass-cache/*
.DS_Store
./src
